.Reservation {
    &-ImageContainer {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &-PlacesContainer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 519px;
        height: 450;
    }
}