.Place {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    border-radius: 4px;
    transition: opacity 0.3s ease;

    &_status_inaccessible {
        background-color: red;
    }

    &_status_notReserved {
        background-color: chartreuse;
    }

    &_status_reserved {
        background-color: orange;
    }

    &:hover {
        opacity: 0.3;
    }
}